config.json
youtube_token.json
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
*.egg-info/
*.pyc
*.pyo
*.pyd
.tz
recordings/
chat/
*:Zone.Identifier
client_secret.json
.venv/
update_state.json
plugins/*.bak
.env
cloudflared/
